%h1 Listing video_jobs

%table
  %tr
    %th
      Image
    %th
      UUID
    %th
      NAME
    %th
      EMAIl
    %th
      Video URL
    %th
      Thumb URL
    %th
    %th
    %th

  - @video_jobs.each do |video_job|
    %tr
      %td
        = image_tag(video_job.thumb_url, width: 89, height: 68)
      %td
        = video_job.uuid
      %td
        = video_job.name
      %td
        = video_job.email
      %td
        = link_to('video url', video_job.video_url)
      %td
        = link_to('thumb url', video_job.thumb_url)
      %td= link_to 'Show', video_job
      %td= link_to 'Edit', edit_video_job_path(video_job)
      %td= link_to 'Destroy', video_job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Video job', new_video_job_path
