%p#notice= notice

%table
  %tr
    %th
      UUID
    %th 
      STATE
    %th
      NAME
    %th
      EMAIL
    %th
      Video URL
    %th
      Thumb URL
  %tr
    %td
      = @video_job.uuid
    %td
      = @video_job.state
    %td
      = @video_job.name
    %td
      = @video_job.email
    %td
      = @video_job.video_url
    %td
      = @video_job.thumb_url


= link_to 'Edit', edit_video_job_path(@video_job)
\|
= link_to 'Back', video_jobs_path
