%h1 Listing contents

%table
  %tr
    %th Slug
    %th Content
    %th
    %th
    %th

  - @contents.each do |content|
    %tr
      %td= content.slug
      %td= content.content
      %td= link_to 'Show', content
      %td= link_to 'Edit', edit_content_path(content)
      %td= link_to 'Destroy', content, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Content', new_content_path
