%h1 Listing slides

%table
  %tr
    %th Image
    %th Width
    %th Height
    %th Url
    %th Order
    %th
    %th
    %th

  - @slides.each do |slide|
    %tr
      %td= slide.image
      %td= slide.width
      %td= slide.height
      %td= slide.url
      %td= slide.order
      %td= link_to 'Show', slide
      %td= link_to 'Edit', edit_slide_path(slide)
      %td= link_to 'Destroy', slide, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Slide', new_slide_path
