%p#notice= notice

%p
  %b Image:
  = @slide.image
%p
  %b Width:
  = @slide.width
%p
  %b Height:
  = @slide.height
%p
  %b Url:
  = @slide.url
%p
  %b Order:
  = @slide.order

= link_to 'Edit', edit_slide_path(@slide)
\|
= link_to 'Back', slides_path
