= form_for @video, builder: LabellingFormBuilder do |f|
  - if @video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :key
  = f.text_field :name
  = f.email_field :email
  .actions
    = f.submit 'Save'
