/ Feed layout graph object /

%section#video-player
  .video-wrap
    .youtube-holder
      %iframe.youtube{src: "http://www.youtube.com/embed/#{video.key}", frameborder: "0",  width: "1170", height: "580"}

%section#video-details
  %h2
    = video.name || "Untitled"
  %ul.stats
    %li.views
      = icon('eye-open')
      = video.views.to_s
    %li.likes
      = icon('heart')
      = video.views.to_s

%section#share-embed
  .share.pull-left
    %ul.share-box.addthis_toolbox.addthis_default_style{"addthis:url" => "http://thisisgrit.us/video/detail/#{video.token}", "addthis:title" => "Awesome grit video from #{video.name}"}                
      %li
        %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
      %li
        %a.addthis_button_tweet{"tw:via" => "thisisgrit", "tw:count" => "none"}
      %li
        %a.addthis_counter.addthis_pill_style{}
  .embed.pull-right
    %table
      %tr
        %th
          Share URL:
        %td
          .well 
            = "http://thisisgrit.us/videos/detail/video.token"
      %tr
        %th
          Embed:
        %td
          .well
            = video.youtube_embed

%section#reccomend
  %h2
    We 
    %span
      Reccomend
  = render partial: "layouts/videos"

%section#comment
  %h2 
    Video
    %span
      Comments
  .fb-comments{'data-href'=>"http://example.com/comments", 'data-numposts'=>"10", 'data-colorscheme'=>"light"}