%p#notice= notice
- video = @video

.container
  = video.youtube_embed.html_safe
  %br/

  %table
    %tr
      %th
        Key:
      %td
        = video.key  
    %tr
      %th
        Name:
      %td
        = video.name
    %tr
      %th
        Email:
      %td
        = video.email
    %tr
      %th
        Thumbnail:
      %td
        = video.thumb_url
    %tr
      %th
        Youtube URL:
      %td
        = video.youtube_url
    %tr
      %th
        Youtube Embed
      %td
        = video.youtube_embed
  %strong
    Json Object:
  %br/
  = ap(video.json_object).html_safe

  = link_to 'Edit', edit_video_path(@video)
  \|
  = link_to 'Back', videos_path
