= form_for @endorsement do |f|
  - if @endorsement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@endorsement.errors.count, "error")} prohibited this endorsement from being saved:"
      %ul
        - @endorsement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :credit
    = f.text_field :credit
  .field
    = f.label :order
    = f.number_field :order
  .actions
    = f.submit 'Save'
