%h1 Listing endorsements

%table
  %tr
    %th Content
    %th Credit
    %th Order
    %th
    %th
    %th

  - @endorsements.each do |endorsement|
    %tr
      %td= endorsement.content
      %td= endorsement.credit
      %td= endorsement.order
      %td= link_to 'Show', endorsement
      %td= link_to 'Edit', edit_endorsement_path(endorsement)
      %td= link_to 'Destroy', endorsement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Endorsement', new_endorsement_path
