%p#notice= notice

%p
  %b Content:
  = @endorsement.content
%p
  %b Credit:
  = @endorsement.credit
%p
  %b Order:
  = @endorsement.order

= link_to 'Edit', edit_endorsement_path(@endorsement)
\|
= link_to 'Back', endorsements_path
