.img-less .caption {
  position: static !important;
}
.img-less .flex-direction-nav {
  bottom: -16px;
}
#carousel .caption{
  position:absolute !important;
  bottom:-50px;
  padding:3px 5px;
  background-color: #000;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#carousel .caption a{
  margin:0px;
  font-family: Lato, sans-serif;
  color:#FFF;
  display:block;
  text-transform: uppercase;
}

#carousel .caption:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 20px;
  padding-right: 0.5em;
  position:absolute;
  right:10px;
  bottom:3px;
}

#carousel li:hover .caption{
  bottom:0px;
}