.flexslider {
  margin-bottom: 0 !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#carousel.flexslider {
  background: $flatorangetr !important;
  border: 4px solid $flatorangetr;
}

#top-carousel {
  margin-top: 54px;
  margin-bottom: 0;
  position: relative;
  #slider {
    width: 100%;
    display: block;
    border: none;
    .slide {
      margin: 0;
    }
    .caption {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      padding: 20px;
      position:relative;
      left: 10px;
      height: 150px;
      background-color: #ffe13c;
      border-bottom: 4px solid #e4c831;
    }
  }
  #slides.flexslider {
    border: none;
  }
  #carousel {
    display: block;
    margin-bottom: 0 !important;
    img, img:hover, img:focus {
      display: block;
      cursor: pointer;
      opacity: 0.5;
    }   
  }
  #carousel .flex-active-slide img {
    opacity: 1.0;
  }
}
.caption.resize {
  padding: 6px 20px;
  margin: 0 15px;
  width: 100%;
  max-width: 140px;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.caption h2 {
  display:block;
  font-size: 32px;
  color: $flatdorange;
  text-transform: uppercase;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.caption h2.sub {
  font-size: 20px;
  color: #777;
  margin-top:5px;
  margin-bottom: 10px;
}
#carousel .caption {
  background-color: rgba(50,50,50,0.6);
  font-size: .7em;
  padding: 8px !important;
}
#carousel .thirds {
  margin-left: 0 !important;
  padding-left: 0 !important;
  width: 130px;
  li {
    list-style-type: none;
    font-size: 16px;
    margin-left: 0 !important;
    text-align: center;
    &.likes, &.views {
      width: 40%;
    }
    &.play {
      width: 10%;
      color: #0cb6ce;
      &:hover {
        color: rgba(78, 205, 223, 0.72);
      }
    }
  }
  span {
    color: #999;
  }

}
#slider.flexslider .caption .halves {
  margin-left: 0 !important;
  padding-left: 0 !important;
  font-size:28px;
  list-style-type: none;
  display: block;
  li {
    width: 49%;
    list-style-type: none !important;
    display: inline-block;
  }
  span {
    color: #444;
  }
}

ul.thirds ul {
  list-style-type: none !important;
  margin-left: 0;
}
ul.thirds li {
  list-style-type: none !important;
  display: inline-block;
  font-size: 24px;
}
ul.thirds li span {
  color: #333;
}

#carousel-wrapper {
  margin-left: 350px;
  width: auto;
  bottom: 0;
  margin-right: 50px;
  margin-top: -130px;
}
.youtube-holder {
  border-bottom: 4px solid $flatorangetr;
}
.share-box {
  margin-left: 0 !important;
  padding-left: 0 !important;
  li {
    display: inline-block;
  }
}
.flexslider .flex-direction-nav a,
.flexslider .flex-direction-nav a {
display: block; /* I added this line */
}

.flex-direction-nav .flex-next { 
  right: 0 !important; 
  margin-right: -40px; 
  opacity: 1 !important; 
}
.flex-direction-nav .flex-prev { left: 0 !important; opacity: 1 !important; margin-left: -40px; }

.share-box {
  position: relative;
  .addthis_button_facebook_like {
    position: absolute;
    top: 0;  
  }
  .addthis_button_tweet {
    position: absolute;
    top: 0;
    left: 55px;
  }
  .addthis_counter.addthis_pill_style {
    position: relative;
    top: 0;
    left: 112px;
  }
}
#carousel.flexslider .flex-direction-nav {
  a {
    text-indent: 0 !important;
    display: block;
    color: $flatylw !important;
    width:30px;
    display: block !important;
    font-size: 20px;
    position: absolute;
    &.flex-next:before {
      position: absolute;
      content: "\f054";
      left: 9px;
      top: 37%;
      
    }
    &.flex-prev:after {
      position: absolute;
      content: "\f053";
      left: 9px;
      top: 37%;
    }
  }
}

.img-less .caption {
  position: static !important;
}
.img-less .flex-direction-nav {
  bottom: -16px;
}
#carousel .caption{
  position:absolute !important;
  bottom:-50px;
  padding:3px 5px;
  background-color: #000;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#carousel .caption a{
  margin:0px;
  font-family: Lato, sans-serif;
  color:#FFF;
  display:block;
  text-transform: uppercase;
}

#carousel .caption:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 20px;
  padding-right: 0.5em;
  position:absolute;
  right:10px;
  bottom:3px;
}

#carousel li:hover .caption{
  bottom:0px;
}
/* Carousel Style */
#carousel.flexslider {
  .flex-direction-nav {
    .flex-prev, .flex-next {
      top: 0;
      height: 113px;
      margin: -4px 0;
      color: white;
      text-align: center;
      vertical-align: middle;
      font-family: FontAwesome;
      background-color: $flatorangetr;
      border-radius: 5px;
    }
    .flex-prev:hover, .flex-next:hover,
    .flex-prev:focus, .flex-next:focus {
      background-color: $flatorange !important;
    }
    .flex-prev {
      left: -36px !important;
      
    }
    .flex-next {
      right: -36px !important;
    }

  }
}
