#endorsements .flexslider {
  padding: 20px 50px;
  margin-bottom: 0;
  border: none;
  li {
    display:block;
    vertical-align:middle;
  }
  .flex-control-nav, .flex-direction-nav {
    display: none !important;
  }
  .endorsement {
    font-size: 24px;
    color: #999;
    text-align: justify;
  }
  .credit {
    font-size: 18px;
    color: #444;
    max-width: 1140px;
  }
}