/* 
 *  Navigation
 */
#nav .navbar-brand {
  background-image: none;
  background-color: $flatdblue !important; 
}
#nav .navbar-inverse .nav .active > a, 
#nav .navbar-inverse .nav .active > a:hover, 
#nav .navbar-inverse .nav .active > a:focus {
  background-image: none;
  background-color: $flatblue !important; 
}


.nav-border {
  background-image: none;
  background-color: $flatdblue;
  border-bottom: 5px solid $flatdblue;
}

#nav .navbar-inverse .nav li>a:hover, 
#nav .navbar-inverse .nav li>a:focus, 
#nav .navbar-inverse .nav li.hover_menu>a {
  background: $flatdark;
  color: rgb(255, 255, 255) !important;
}

.addthis_button_facebook_like {
  width: 50px;
  overflow: hidden;
}
.addthis_counter a.atc_s {
  height: 25px;
}
#executive-summary {
  .heading-l {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.heading-l h2 span {
  color: $flatdorange;
}
#nav .navbar.navbar-inverse {
  border: none; 
}
#nav .navbar-brand {
  height: 52px;
}

.flexslider {
  .flex-next:hover, .flex-prev:hover {
    background-color: rgba(0,0,0,0.8) !important;

  }
  .flex-prev {
    background-color: rgba(0,0,0,0.8);
  }
  .flex-next:hover, .flex-prev:hover {
    opacity: 1;
  }
}