$phi: 1.6180339887498948;
$flatylw: rgba(255,225,60,1);

$flataqua: rgba(12,182,206,1);
$flatblue: rgba(52,152,219,1);
$flatdblue: rgba(41,128,185,1);
$flatdark: rgba(44,62,80,1);
$flatdorange: rgba(246,77,49,1);
$flatorange: rgba(211, 84, 0, 0.9);
$flatorangetr: rgba(211, 84, 0, 0.5);
