.video-wrap {
  text-align:center;
  padding-top:40px;
  padding-bottom: 30px;
}

#video-player {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right:0;
  padding-left:0;
  border:0;
  background: #666;
}
iframe.youtube {
  border: 4px solid #888;
  border-radius:5px;
  box-shadow: -1px -1px 30px 6px rgba(50, 50, 50, 0.51);
}
#video-details {
  width: 960px !important;
}