#video-submissions {
  max-width: 350px;
  margin: 20px auto;
  #steps_form {
    border: none;
    border-bottom: 4px solid #a91515;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #steps_count > li, #steps_form > li {
    width: 100% !important;
  }
  .steps_count li:after, .steps_count li:before {
    display: none !important;
  }
  .steps_count {
    background-image: none;
    background-color: #f3f3f3;
    border-bottom: 2px solid #b9b9b9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    li {
      padding: 10px;
      background: none !important;
      span {
        font-weight: 400;
      }
    }
  }
  
}
#video-submissions .video-script {
  display: inline;
  font-size: 16px;
  line-height: 26px;
  color: #555;
}
#video-submissions #grit {
  margin-right: 15px;
}


#steps_form.steps_detail {
  padding: 0;
  li, li:first-child {
    padding: 30px !important;
    h3 {
      text-align: left;
    }
    input.input_Form, button.next {
      width: 100%;
      display: block;
    }
  }
}