#content_area.container
  .content
    .jumbotron
      %h1
        about #thisisgrit
    %section#executive-summary
      .heading-l
        %h2
          %span executive summary
      .post-content
        %iframe{src: "http://embed.ted.com/talks/angela_lee_duckworth_the_key_to_success_grit.html", width: "853", height: "480", frameborder: "0", scrolling: "no", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
        = @executive_summary.markdown
        / :markdown
        /   The Obama Administration in early in 2013 challenged a national gathering of innovators, entrepreneurs and studentsto marshall their creativity and resourcefulness to help bolster the issues of student access and success for education. At the [Stanford DataJam](http://www.ed.gov/blog/2013/12/innovators-come-together-to-brainstorm-solutions-and-take-action/)Stanford DataJam (idea hackathon) hosted by the Dept. of Ed., we won first place with our project #ThisIsGRIT. 

        /   The core idea behind #ThisIsGRIT is simple: **a good education takes more than intelligence, its takes #GRIT**. Backed by studies of [famous psychological studies](http://alumni.stanford.edu/get/page/magazine/article/?article_id=32124) from Prof. Carol Dweck and popularized on a [TED talk by Angela Duckworth](http://www.ted.com/talks/angela_lee_duckworth_the_key_to_success_grit.html), **#GRIT** is the ability to persevere, to push through hurdles of all types, and is the  #1 of not only academic success, but in careers and family life as well. 

        /   Each of us who have navigated the path through collegiate experiences, and on to professional achievement have a story, or two, or three of how **#GRIT** got us through hardships and to our goals.  We are trying to find people with tremendous **#GRIT** stories, so that students everywhere can be encouraged around this very important element in the formula of success.

        /   In preparation for the **Jan 15 showcase at the Whitehouse Datapalooza**, we are building a website inspired by [Code.org](http://code.org) + [ItGetsBetter.org](http://itgetsbetter.org) , for the #gritty. We would love to use this chance to share the amazing work that Carol Dweck and Angela Duckworth have done with as many people as possible, and instill **#GRIT** in our next generation.

