%section#video-player
  .video-wrap
    %iframe.youtube{src: "http://www.youtube.com/embed/#{@video.key}", frameborder: "0",  width: "960", height: "720"}

.content-wrap
%section#video-details
  %h2.title
    = @video.name || "Untitled"
  %ul.stats
    %li.views
      = icon('eye-open')
      = @video.views.to_s
    %li.likes
      = icon('heart')
      = @video.views.to_s

%section#share-embed
  .share.pull-left
    %ul.share-box.addthis_toolbox.addthis_default_style{"addthis:url" => "http://thisisgrit.us/video/detail/#{@video.token}", "addthis:title" => "Awesome grit video from #{@video.name}"}                
      %li
        %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
      %li
        %a.addthis_button_tweet{"tw:via" => "thisisgrit", "tw:count" => "none"}
      %li
        %a.addthis_counter.addthis_pill_style{}
  .embed.pull-right
    %table
      %tr
        %th
          Share URL:
        %td
          .well 
            = "http://thisisgrit.us/video/details/#{@video.token}"
      %tr
        %th
          Embed:
        %td
          .well
            = @video.youtube_embed

  .clearfix
%section#reccomend
  %h2
    We Reccomend
  = render partial: "layouts/videos", locals: {video: @video, videos: @videos}

%section#comment
  %h2 
    Video Comments
  .fb-comments{'data-href'=> "http://thisisgrit.us/video/details/#{@video.token}", 'data-numposts'=>"10", 'data-colorscheme'=>"light"}