= render partial: 'layouts/carousel', locals: { slides: @slides }

#content_area.container
  .content  

    = render partial: "layouts/email_list"

    = render partial: "layouts/endorsements", locals: {endorsements: @endorsements}

