#content_area.container
  .content
    .jumbotron
      %h1
        \#thisisgrit videos

    %section#more-videos
      .heading-l
        %h2
          %span top rated
      .post-content
        .top_video_listing
          = render partial: "layouts/video", collection: @top_rated, as: :video

      .heading-l
        %h2
          %span most viewed
      .post-content
        .top_video_listing
          = render partial: "layouts/video", collection: @top_viewed, as: :video

      .heading-l
        %h2
          %span latest submissions
      .post-content
        .top_video_listing
          = render partial: "layouts/video", collection: @latest, as: :video


