- content_for :head_js do
  = javascript_include_tag "submissions"
#content_area.container
  .content
    .jumbotron
      %h1
        share your story

    %section#share-your-story
      .post-content
        = @share_your_story.markdown

    %section#video-submissions
      
      %ul#steps_count.steps_count
        %li.step1
          Step 1:
          %span Tell Us Who You Are
        %li.step2{style: 'display:none;'}
          Step 2:
          %span Record Your Video
      %form#wizard{method: 'post', action: '#', name: 'steps_form'}
        %ul#steps_form.steps_detail
          %li.step1
            %input.input_Form{type: 'text', name: 'Name', placeholder: 'name', required: true}
            %input.input_Form{type: 'email', name: 'Email', placeholder: 'email', required: true}
            %button.next.btn.btn-default.btn-block Next &gt;
          %li.step2{style: 'display:none;'}
            %camera#grit.pull-left{'data-uuid' => '6c3ad9d0-4e6c-0131-0071-22000a499ea4'}
            .video-script
              = @video_script.markdown
                
      #alerts
        .success.alert.alert-success.alert-dismissable{style: 'display:none;'}
          %strong
            Success! 
          Thanks for your submission, it should be live on our 
          %a{href: 'http://www.youtube.com/channel/UCZK66JujoN3KY3sak2kEa2w'}
            youtube channel 
          in a matter of moments
        .video-sharing
          %h3 Share your video with your friends!
            
        .error.alert.alert-error{style: 'display: none'}
          %strong
            Oops!
          It looks like there was an error, we've done our best to guess what the problem is, 
          %a.try-again{href: ''}
            click here 
          to continue.
