%section#top-carousel

  #slider.flexslider
    %ul.slides
      - for video in @slides
        %li
          .slide
            .youtube-holder
              %iframe.youtube{src: "http://www.youtube.com/embed/#{video.key}", frameborder: "0",  width: "1170", height: "580"}
            .caption
              %h2
                = video.name || "Untitled"
              %h2.sub
                = icon('eye-open')
                %span
                  = video.views.to_s+" views"
              %ul.share-box.addthis_toolbox.addthis_default_style{"addthis:url" => "http://thisisgrit.us/video/3t6lk8de", "addthis:title" => "Awesome grit video from ((insert name heree))!"}                
                %li
                  %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
                %li
                  %a.addthis_button_tweet{"tw:via" => "thisisgrit of course, hit me up later", "tw:count" => "none"}
                %li
                  %a.addthis_counter.addthis_pill_style{}

  #carousel-wrapper
    #carousel.flexslider
      %ul.slides
        - for video in @slides
          %li{style: "width:140px"}
            = image_tag("http://img.youtube.com/vi/#{video.key}/hqdefault.jpg")
            .caption.resize
              %a{href: "#"}
                %ul.thirds
                  %li.views
                    = icon('eye-open')
                    %span
                      = video.views
                  %li.play
                    = icon('play')
                  %li.likes
                    = icon('heart')
                    %span
                      = video.likes

