%section#email-list
  .inner-wrap
    %h3 Sign up to receive our grit vitamin newsletter
    %link{href: "//cdn-images.mailchimp.com/embedcode/slim-081711.css", rel: "stylesheet", type: "text/css"}
    .mc_embed_signup
      %form#mc-embedded-subscribe-form.validate{action: "http://thisisgrit.us3.list-manage.com/subscribe/post?u=3f9f3e63bf50ec904da84ba16&amp;id=706f27106a", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: true}
        %input#mce-EmMAIL.email{type: "email", name: "EMAIL", placeholder: "email address", required: true}
        %input#mc-embedded-subscribe.button{type: "submit", value: "subscribe", name: "subscribe"}
        %div{style: "position: absolute; left: -5000px;"}
          %input{type: 'text', name: "b_3f9f3e63bf50ec904da84ba16_706f27106a"}
        .clear