<section id="endorsements">
  <div class="heading-l">
    <h2>
      <span>Endorsements</span>
    </h2>
  </div>
  <div class="flexslider">
    <ul class="slides">
      <%= render partial: 'layouts/endorsement', collection: endorsements, as: :endorsement %>
    </ul>
  </div>
</section>