!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'This is Grit #thisisgrit'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: "#{content_for?(:description) ? yield(:description) : 'Grit'}"}
    %meta{name: 'author', content: ''}
    / Le Graphe
    = yield :graph
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = javascript_include_tag "application"
    = javascript_include_tag "//cameratag.com/1.9/cameratag.js"
    / uses content_for :head_js from view partials
    = yield :head_js
    / configures addthis social sharing analytics and platform
    :javascript
      var addthis_config = {"data_track_addressbar":true};
    = javascript_include_tag "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52cca9613bc733cb"
    / Google webfonts
    = google_webfonts_init({google: ['Lato:100,300,400,700,900,400italic,700italic'] })
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=197408477132243";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %header
      = render 'layouts/navigation'

    %main{role: "main"}
      = render 'layouts/messages'
      = yield
    = render partial: "layouts/footer"
    